Repository Yellobook/yellobook-backend, pull requests merged in 2024-11, with the labels that each got.

#82 [Feature/YB-560]: 마이프로필 조회시 사용자가 속한 팀 목록 정보에서 teamId 추가
  .github/workflows/cd.yml
  .gitignore
  infra/database/mysql/docker-compose.yml
  infra/database/mysql/mysql-conf/my.cnf
  infra/database/redis/docker-compose.yml
  yellobook-api/src/main/java/com/yellobook/domains/member/dto/response/ProfileResponse.java
  yellobook-api/src/main/java/com/yellobook/domains/member/mapper/MemberMapper.java
  yellobook-api/src/test/java/com/yellobook/domains/inform/service/InformCommandServiceTest.java
  yellobook-api/src/test/java/com/yellobook/domains/inventory/service/InventoryCommandServiceTest.java
  yellobook-api/src/test/java/com/yellobook/domains/order/service/OrderCommandServiceTest.java
  yellobook-domain/src/main/java/com/yellobook/domains/team/dto/query/QueryMemberJoinTeam.java
  yellobook-domain/src/main/java/com/yellobook/domains/team/repository/ParticipantCustomRepositoryImpl.java
  yellobook-domain/src/test/java/com/yellobook/domains/inform/InformCommentRepositoryTest.java
  yellobook-domain/src/test/java/com/yellobook/domains/inform/InformMentionRepositoryTest.java
  yellobook-domain/src/test/java/com/yellobook/domains/inform/InformRepositoryTest.java
  yellobook-domain/src/test/java/com/yellobook/domains/inventory/repository/InventoryRepositoryTest.java
  yellobook-domain/src/test/java/com/yellobook/domains/schedule/repository/ScheduleRepositoryTest.java
  yellobook-domain/src/test/java/com/yellobook/domains/team/repository/ParticipantRepositoryTest.java
  yellobook-domain/src/testFixtures/java/fixture/MemberFixture.java
  yellobook-domain/src/testFixtures/java/fixture/TeamFixture.java
Labels: ⚙️config, ✅test, ✨feature

#84 [Fix/YB-577]: 제품 CUD 시 재고 현황의 마지막 업데이트 일시 수정
  .github/workflows/ci.yml
  yellobook-api/src/main/java/com/yellobook/domains/inventory/service/InventoryCommandService.java
  yellobook-api/src/test/java/com/yellobook/domains/inventory/service/InventoryCommandServiceTest.java
  yellobook-domain/src/main/java/com/yellobook/domains/common/entity/BaseEntity.java
  yellobook-domain/src/main/java/com/yellobook/domains/inventory/entity/Inventory.java
  yellobook-domain/src/main/java/com/yellobook/domains/inventory/repository/InventoryRepository.java
  yellobook-domain/src/test/java/com/yellobook/domains/inventory/repository/InventoryRepositoryTest.java
Labels: ✅test, 🛠️bugfix

#85 [Feature/YB-586]: 사용자가 현재 위치한 팀 정보 반환 로직 구현
  yellobook-api/src/main/java/com/yellobook/domains/member/controller/MemberController.java
  yellobook-api/src/main/java/com/yellobook/domains/member/dto/response/CurrentTeamResponse.java
  yellobook-api/src/main/java/com/yellobook/domains/member/mapper/MemberMapper.java
  yellobook-api/src/main/java/com/yellobook/domains/member/service/MemberQueryService.java
  yellobook-api/src/test/java/com/yellobook/domains/member/controller/MemberControllerTest.java
  yellobook-api/src/test/java/com/yellobook/domains/member/service/MemberQueryServiceTest.java
  yellobook-common/src/main/java/com/yellobook/error/code/MemberErrorCode.java
Labels: ✅test, ✨feature

#86 [Fix/YB-593]: 제품 삭제 API 수정
  yellobook-api/src/main/java/com/yellobook/domains/inventory/service/InventoryCommandService.java
  yellobook-api/src/test/java/com/yellobook/domains/inventory/service/InventoryCommandServiceTest.java
  yellobook-common/src/main/java/com/yellobook/error/code/InventoryErrorCode.java
  yellobook-domain/src/main/java/com/yellobook/domains/order/repository/OrderRepository.java
Labels: 🛠️bugfix

#88 [Refactor/YB-490] 공지 도메인 TeamMember 수정
  yellobook-api/src/main/java/com/yellobook/domains/inform/controller/InformController.java
  yellobook-api/src/main/java/com/yellobook/domains/schedule/ScheduleService.java
  yellobook-api/src/test/java/com/yellobook/domains/inform/annotation/InformAnnotationTest.java
  yellobook-api/src/test/java/com/yellobook/domains/inform/controller/InformControllerTest.java
  yellobook-api/src/test/java/com/yellobook/domains/team/annotation/TeamAnnotationTest.java
  yellobook-domain/src/main/java/com/yellobook/domains/inform/entity/Inform.java
Labels: ♻️refactor, ✅test, 🛠️bugfix

#89 [Chore/YB-595]: Pinpoint APM Agent 설정
  infra/app/docker-compose.yml
  yellobook-api/Dockerfile
Labels: ⚙️config, 🧤Infra

#90 [Hotfix/YB-598]: Docker 이미지 빌드 오류 수정
  yellobook-api/Dockerfile
Labels: 🚑hotfix
