Repository Yellobook/yellobook-backend, pull requests merged in 2024-09, with the labels that each got.

#67 [Test/YB-461] 인증도메인 Integration Test 작성
  .github/workflows/ci.yml
  build.gradle
  yellobook-api/build.gradle
  yellobook-api/src/integration-test/java/.gitkeep
  yellobook-api/src/integration-test/java/com/yellobook/AuthIntegrationTest.java
  yellobook-api/src/integration-test/java/com/yellobook/support/IntegrationTest.java
  yellobook-api/src/integration-test/java/com/yellobook/support/annotation/CustomAutowired.java
  yellobook-api/src/integration-test/java/com/yellobook/support/utils/JwtTestUtil.java
  yellobook-api/src/integration-test/resources/.gitkeep
  yellobook-api/src/integration-test/resources/application-integration-test.yml
  yellobook-api/src/integration-test/resources/cleanup.sql
  yellobook-api/src/main/java/com/yellobook/config/SecurityConfig.java
  yellobook-api/src/main/java/com/yellobook/domains/auth/controller/AuthController.java
  yellobook-api/src/main/java/com/yellobook/domains/auth/dto/request/AllowanceRequest.java
  yellobook-api/src/main/java/com/yellobook/domains/auth/mapper/AuthMapper.java
  yellobook-api/src/main/java/com/yellobook/domains/auth/security/filter/JwtAuthFilter.java
  yellobook-api/src/main/java/com/yellobook/domains/auth/service/AuthService.java
  yellobook-api/src/main/java/com/yellobook/domains/auth/service/CookieService.java
  yellobook-common/src/main/java/com/yellobook/error/code/AuthErrorCode.java
  yellobook-domain/build.gradle
  yellobook-domain/src/testFixtures/java/fixture/MemberFixture.java
Labels: ⚙️config, ♻️refactor, ✅test, 🛠️bugfix

#69 [Test/YB-483]: 재고 추가 API Unit Test
  yellobook-api/src/test/java/com/yellobook/domains/inventory/controller/InventoryControllerTest.java
  yellobook-api/src/test/java/com/yellobook/domains/inventory/service/InventoryCommandServiceTest.java
  yellobook-api/src/test/java/com/yellobook/domains/inventory/service/InventoryQueryServiceTest.java
  yellobook-api/src/test/java/com/yellobook/domains/inventory/utils/ExcelReadUtilTest.java
Labels: ✅test

#70 [Test/YB-512] ScheduleRepository 테스트코드 DCI 패턴으로 리팩토링
  yellobook-domain/src/test/java/com/yellobook/domains/schedule/repository/ScheduleRepositoryTest.java
  yellobook-domain/src/testFixtures/java/fixture/InformFixture.java
Labels: ✅test

#65 [ Refactor/YB-424]: 테스트 코드 DCI 패턴으로 refactoring
  .DS_Store
  yellobook-api/src/main/java/com/yellobook/domains/inventory/controller/InventoryController.java
  yellobook-api/src/main/java/com/yellobook/domains/inventory/mapper/InventoryMapper.java
  yellobook-api/src/main/java/com/yellobook/domains/inventory/mapper/ProductMapper.java
  yellobook-api/src/main/java/com/yellobook/domains/inventory/service/InventoryCommandService.java
  yellobook-api/src/main/java/com/yellobook/domains/inventory/service/InventoryQueryService.java
  yellobook-api/src/main/java/com/yellobook/domains/order/mapper/OrderMapper.java
  yellobook-api/src/main/java/com/yellobook/domains/order/service/OrderQueryService.java
  yellobook-api/src/test/java/com/yellobook/domains/inventory/controller/InventoryControllerTest.java
  yellobook-api/src/test/java/com/yellobook/domains/inventory/service/InventoryCommandServiceTest.java
  yellobook-api/src/test/java/com/yellobook/domains/inventory/service/InventoryQueryServiceTest.java
  yellobook-api/src/test/java/com/yellobook/domains/member/controller/MemberControllerTest.java
  yellobook-api/src/test/java/com/yellobook/domains/member/service/MemberQueryServiceTest.java
  yellobook-api/src/test/java/com/yellobook/domains/order/controller/OrderControllerTest.java
  yellobook-api/src/test/java/com/yellobook/domains/order/service/OrderCommandServiceTest.java
  yellobook-api/src/test/java/com/yellobook/domains/order/service/OrderQueryServiceTest.java
  yellobook-domain/src/main/java/com/yellobook/domains/inventory/entity/Inventory.java
  yellobook-domain/src/main/java/com/yellobook/domains/order/repository/OrderRepositoryCustomImpl.java
  yellobook-domain/src/test/java/com/yellobook/domains/inventory/repository/InventoryRepositoryTest.java
  yellobook-domain/src/test/java/com/yellobook/domains/member/repository/MemberRepositoryTest.java
  yellobook-domain/src/test/java/com/yellobook/domains/order/repository/OrderRepositoryTest.java
  yellobook-domain/src/testFixtures/java/fixture/InventoryFixture.java
  yellobook-domain/src/testFixtures/java/fixture/OrderFixture.java
Labels: ♻️refactor, ✅test, ✨feature

#71 [Chore/YB-524]: codecov 리포트 생성을 cd 파이프라인으로 이동
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ⚙️config

#74 [Test/YB-233] 공지 도메인 Controller Unit Test 작성
  yellobook-api/src/test/java/com/yellobook/domains/inform/annotation/InformAnnotationTest.java
  yellobook-api/src/test/java/com/yellobook/domains/inform/controller/InformControllerTest.java
  yellobook-api/src/test/java/com/yellobook/domains/team/annotation/TeamAnnotationTest.java
  yellobook-api/src/test/java/com/yellobook/domains/team/controller/TeamControllerTest.java
Labels: ✅test

#76 [Hotfix/YB-534] 공지 조회 API 수정
  yellobook-api/src/main/java/com/yellobook/domains/inform/dto/response/GetInformResponse.java
  yellobook-api/src/main/java/com/yellobook/domains/inform/mapper/InformMapper.java
  yellobook-api/src/main/java/com/yellobook/domains/inform/service/InformCommandService.java
  yellobook-api/src/main/java/com/yellobook/domains/inform/service/InformQueryService.java
  yellobook-domain/src/main/java/com/yellobook/domains/inform/repository/InformMentionRepository.java
  yellobook-domain/src/test/java/com/yellobook/domains/inform/InformMentionRepositoryTest.java
Labels: 🚑hotfix

#77 [Hotfix/YB-538]: InformController Unit Test 수정
  yellobook-api/src/main/java/com/yellobook/domains/inform/controller/InformController.java
  yellobook-api/src/test/java/com/yellobook/domains/inform/controller/InformControllerTest.java
Labels: 🚑hotfix
