Repository Yellobook/yellobook-backend, pull requests merged in 2025-02, with the labels that each got.

#98 [Chore/YB-640] db-core 모듈에서 test 및 QueryDSL 편의 설정 추가
  api-server/src/test/java/com/yellobook/api/support/auth/TokenManagerTest.java
  infra/app/docker-compose.yml
  infra/database/mysql/docker-compose.yml
  infra/database/mysql/mysql-conf/my.cnf
  infra/database/redis/data/dump.rdb
  infra/database/redis/docker-compose.yml
  infra/database/scripts/generate_csv.py
  infra/database/scripts/requirements.txt
  infra/monitoring/docker-compose.yml
  infra/monitoring/filebeat/filebeat.yml
  infra/monitoring/logstash/logstash.conf
  infra/nginx/nginx.conf
  infrastructure/storage-redis/build.gradle
  infrastructure/storage-redis/src/main/java/com/yellobook/config/RedisConfig.java
  storage/db-core/build.gradle
  storage/db-core/src/main/resources/db/migration/V1__2410271221_RENAME_PARTICIPANT_ROLE.sql
  storage/db-core/src/main/resources/db/seed/.gitkeep
  storage/db-core/src/test/java/com/yellobook/ModuleDomainApplicationTest.java
  storage/db-core/src/test/java/com/yellobook/inform/repository/InformCommentRepositoryTest.java
  storage/db-core/src/test/java/com/yellobook/inform/repository/InformMentionRepositoryTest.java
  storage/db-core/src/test/java/com/yellobook/inform/repository/InformRepositoryTest.java
  storage/db-core/src/test/java/com/yellobook/inventory/repository/InventoryRepositoryTest.java
  storage/db-core/src/test/java/com/yellobook/member/repository/MemberRepositoryTest.java
  storage/db-core/src/test/java/com/yellobook/order/repository/OrderRepositoryTest.java
  storage/db-core/src/test/java/com/yellobook/schedule/repository/ScheduleRepositoryTest.java
  storage/db-core/src/test/java/com/yellobook/storage/db/CoreDbTestApplication.java
  storage/db-core/src/test/java/com/yellobook/storage/db/support/RepositoryTest.java
  storage/db-core/src/test/java/com/yellobook/support/RepositoryTest.java
  storage/db-core/src/test/java/com/yellobook/support/RepositoryTestConfig.java
  storage/db-core/src/test/java/com/yellobook/team/repository/ParticipantRepositoryTest.java
  storage/db-core/src/test/java/com/yellobook/team/repository/TeamRepositoryTest.java
  storage/db-core/src/test/resources/application.yml
  storage/db-core/src/test/resources/cleanup.sql
  storage/db-core/src/test/resources/spy.properties
  storage/db-core/src/test/resources/sql/setup_order.sql
Labels: ⚙️config

#100 [Refactor/YB-644] Admin 격리, Member 테이블 분리
  admin-api/build.gradle
  admin-api/src/main/java/com/yellobook/admin/support/AdminApiControllerAdvice.java
  admin-api/src/main/java/com/yellobook/admin/support/error/AdminErrorCode.java
  admin-api/src/main/java/com/yellobook/admin/support/error/AdminErrorMessage.java
  admin-api/src/main/java/com/yellobook/admin/support/error/AdminErrorType.java
  admin-api/src/main/java/com/yellobook/admin/support/error/AdminException.java
  admin-api/src/main/java/com/yellobook/admin/support/response/AdminResponse.java
  admin-api/src/main/java/com/yellobook/admin/support/response/ResultType.java
  admin-api/src/main/java/com/yellobook/storage/db/core/AdminBaseEntity.java
  admin-api/src/main/java/com/yellobook/storage/db/core/AdminMemberEntity.java
  api-server/build.gradle
  api-server/src/main/java/com/yellobook/api/support/ApiControllerAdvice.java
  api-server/src/main/java/com/yellobook/api/support/ApiMember.java
  api-server/src/main/java/com/yellobook/api/support/ApiMemberArgumentResolver.java
  build.gradle
  settings.gradle
  storage/db-core/build.gradle
  storage/db-core/src/main/java/com/yellobook/storage/db/core/member/AppMemberRole.java
  storage/db-core/src/main/java/com/yellobook/storage/db/core/member/MemberEntity.java
Labels: ⚙️config, ✨feature

#106 [Docs/YB-677]: 가게 도메인 스웨거&컨트롤러 구성
  api-server/src/main/java/com/yellobook/api/controller/v1/team/TeamApiDocs.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/TeamController.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/controller/TeamController.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/MentionDTO.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/request/ApproveRejectRequest.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/request/CreateTeamRequest.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/request/GenerateInvitationCodeRequest.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/request/InvitationCodeRequest.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/request/PatchSearchableRequest.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/response/CreateTeamResponse.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/response/GenerateInvitationCodeResponse.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/response/GetParticipantsResponse.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/response/GetTeamResponse.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/response/GetTeamsResponse.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/response/InvitationCodeResponse.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/response/JoinTeamResponse.java
  api-server/src/main/java/com/yellobook/api/controller/v1/team/dto/response/TeamMemberListResponse.java
  core/core-domain/src/main/java/com/yellobook/core/domain/team/Team.java
  core/core-domain/src/main/java/com/yellobook/core/domain/team/TeamJoinLeaveManager.java
  core/core-domain/src/main/java/com/yellobook/core/domain/team/TeamReader.java
  core/core-domain/src/main/java/com/yellobook/core/domain/team/TeamRepository.java
  core/core-domain/src/main/java/com/yellobook/core/domain/team/TeamRoleManager.java
  core/core-domain/src/main/java/com/yellobook/core/domain/team/TeamService.java
  core/core-domain/src/main/java/com/yellobook/core/domain/team/TeamValidator.java
  core/core-domain/src/main/java/com/yellobook/core/domain/team/TeamWriter.java
  core/core-domain/src/main/java/com/yellobook/core/domain/team/dto/CreateTeamCommand.java
  core/core-domain/src/main/java/com/yellobook/core/error/CoreErrorCode.java
  core/core-domain/src/main/java/com/yellobook/core/error/CoreErrorType.java
  storage/db-core/src/main/java/com/yellobook/storage/db/core/team/ParticipantJpaRepository.java
  storage/db-core/src/main/java/com/yellobook/storage/db/core/team/TeamCoreRepository.java
  storage/db-core/src/main/java/com/yellobook/storage/db/core/team/TeamEntity.java
Labels: 📝docs, ♻️refactor
